body {
    background: url('/assets/images/ignasi_pattern_s.png') repeat;
}

.logocontainer a {
    margin: auto !important;
}

.logo {
    margin-right: 10px !important;
}

.ui.form {
    margin: 100px auto 0 auto;
    max-width: 700px;
    padding: 20px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
}

.ui.message {
    margin: 30px auto;
    max-width: 700px;
}

.field.speed, .field.reverse {
    width: auto !important;
}

.field.reverse {
    padding-top: 10px !important;
    text-align: right !important;
}